@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: gilroy-bold; */
  font-family: "Gilroy-Medium", sans-serif;
  /* font-family: 'Gilroy-Light', sans-serif; */
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1526723840248-0ad14803008d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==);
  background-size: cover;
  background-position: center;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: #fff;
}

#nav h2 {
  font-size: 30px;
}

#nav i {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

#full {
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.544);
  top: 0;
  right: -40%;
  backdrop-filter: blur(10px);
  padding: 150px 60px;
}

#full h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}

#full i {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  font-weight: 800;
  font-size: 25px;
}
