* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

#string {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(153, 205, 50, 0.644);
}

svg {
  width: 80%;
  height: 80%;
}